/***********
    GENERAL
*************/

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@500&family=Yanone+Kaffeesatz&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

p {
    margin-bottom: 0;
}


/***********************
    CONTENT 
********************/


/******* NAVBAR *********/

nav {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: orange;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-brand {
    font-weight: Bold;
    letter-spacing: 2px;
}

.navbar-dark .navbar-brand span#brand {
    color: orange;
}

#ss-navbar {
    width: 100%;
    height: 30px;
    background-color: black;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ss-navbar span {
    color: orange;
    margin-left: 5px;
    margin-right: 5px;
}


/********** INDEX (ZELDA) ***********/

#mlr-note {
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 80vw;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#mlr-note h1 {
    font-size: 2.5vw;
    font-family: 'League Gothic', sans-serif;
}

#titreNote {
    font-size: 1.5vw;
}

img#noteimg {
    width: 6vw;
}

#frst-info p img {
    width: 10vw;
}

#prixNote {
    font-weight: bold;
    color: red;
    margin-right: 2px;
}

#apercu img {
    width: 650px;
    margin-left: 20px;
}


/**** INDEX (CP DE COEUR) *****/

#cp-coeur {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 35px;
    justify-content: center;
}

#cp-coeur h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
}

.imgcoeur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#cp-coeur h2::after {
    content: '';
    position: absolute;
    background-color: green;
    clip-path: circle();
    width: 12px;
    height: 12px;
}

#cp-coeur img {
    width: 298px;
    height: 450px;
    transition: 0.5s;
}

#cp-coeur img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

#p {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#cp-coeur a {
    text-align: center;
}


/********* FOOTER ********/

footer {
    width: 100%;
    padding: 10px;
    bottom: 0;
    background-color: black;
    color: grey;
    text-align: center;
    border-top: 2px solid orange;
}

footer p {
    margin-bottom: 0;
}

#footer {
    position: fixed;
    bottom: 0;
}


/******* FORM RECHERCHE ********/

.form-bg {
    height: 85vh;
    background-image: url(img/horizon2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px 0;
}


/* formulaire dans sa globalité */

.formulaire {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 50px;
    margin-left: 25%;
    padding-top: 10px;
    width: 50vw;
    height: 150px;
    border-radius: 10px;
}


/* titre du formulaire */

#titrep2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}


/* Formulaire barre  + boutton */

.form1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form1 button {
    text-align: center;
    background-color: white;
    border: none;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form1 input {
    height: 28px;
    border: none;
    outline: none;
    width: 40vw;
    border-radius: 5px 0px 0px 5px;
}


/********** PAGE CATALOGUE ********/


/* toute la galerie */

.pcp {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}


/* cards */

.infobdd {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 460px;
    transition: 0.5s;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.infobdd:hover {
    transform: scale(1.025);
    transition: 0.5s;
}

.infobdd h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
}

.infobdd p,
.infobdd span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

.image {
    width: 350px;
}

.sortie span {
    font-style: italic;
}

.stud_dev span {
    color: orange;
}

@media screen and (max-width: 480px) {
    /*** NAVBAR ***/
    #ss-navbar {
        font-size: 2.25vw;
    }
    /************
        INDEX
    ************/
    /*** CAT ZELDA ***/
    #mlr-note {
        width: 92.5vw;
        display: block;
    }
    #apercu img {
        margin-left: 0;
        width: 100%;
    }
    #frst-info {
        padding: 10px;
    }
    #titreNote {
        word-spacing: -0.5px;
        letter-spacing: -0.5px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-bottom: 0px;
    }
    #mlr-note h1 {
        display: none;
    }
    /*** IMG 20/20 ***/
    #frst-info #noteimg {
        width: 70px;
        margin-bottom: 10px;
    }
    /*** LIEN IMAGE NINTENDO ***/
    #frst-info a img {
        margin-top: 5px;
        width: 150px;
    }
    /************
      CATALOGUE 
    ************/
    .infobdd {
        width: 440px;
    }
    /*************
    FORM RECHERCHE
    **************/
    .form1 {
        margin: 0 auto;
        width: 95%;
    }
    #btn-search {
        font-size: 14px;
    }
}