@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
}

#ss-navbar {
    width: 100%;
    height: 30px;
    background-color: black;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ss-navbar span {
    color: orange;
    margin-left: 5px;
    margin-right: 5px;
}

#mlr-note {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#mlr-note h1 {
    font-size: 2.5vw;
    font-family: 'League Gothic', sans-serif;
}

#titreNote {
    font-size: 1.5vw;
}

img#noteimg {
    width: 6vw;
}

#frst-info p {
    line-height: 35px;
}

#frst-info p img {
    width: 10vw;
}

#prixNote {
    font-weight: bold;
    color: red;
    margin-right: 2px;
}

#apercu img {
    width: 45vw;
    margin-left: 20px;
}

#cp-coeur {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

#cp-coeur h2 {
    text-align: center;
    margin-bottom: 20px;
}

#cp-coeur h2::after {
    content: '';
    position: absolute;
    background-color: green;
    clip-path: circle();
    width: 12px;
    height: 12px;
}

#cp-coeur img {
    height: 450px;
}

#p {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.jeu-coeur img {
    width: 20vw;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: grey;
    text-align: center;
    border-top: 2px solid orange;
}

footer p {
    margin-bottom: 0;
}